<h1>Admin area</h1>


<div class=nextsection >
  <p> GUIDED DATA ENTRY </p>
  <%= link_to "New venue", new_venue_path %>

</div>

<div class=afternextsection >
<p> </p>
</div>

<div class=adminarea >
  <%= link_to "Concert Index", concerts_path %>

</div>


<div class=adminarea >
  <%= link_to "Song Index", songs_path %>


</div>

<div class=adminarea >
  <%= link_to "Performer Index", performers_path %>

</div>


<div class=adminarea >
  <%= link_to "Venue Index", venues_path %>

</div>


