<%= render 'shared', shared: @song %>

<div class="infosection" >
<h2>Artists performing this song: </h2>
  <table>
  <tr>
    <th>Name</th>
    <th colspan="1"></th>
  </tr>
  <% @song.performances.each do |performance| %>
    <% performance.performers.each do |performer| %>
    <tr>
      <td><%= link_to performer.pname, performer_path(performer) %></td>
      <td><%= link_to 'Performer Manage Link', managelink_performer_path(performer) %></td>
    </tr> 
    <% end %> 
  <% end %>
  </table>
</div>

<div class="infosection" >
<h2>Concerts where this song was performed: </h2>
  <table>
    <tr>  
      <th>Performers</th>  
      <th>Date</th> 
      <th>Venue</th>    
      <th colspan="2"></th> 
    </tr>
    <% @song.performances.each do |performance| %>
    <tr>  
      <td>
        <table>
          <% performance.concert.performers.each do |p| %>
            <tr>  <td> <%= link_to p.pname, managelink_performer_path(p) %> </td> </tr> 
          <% end %>
        </table> 
      </td> 
      <td> <%= performance.concert.cdate %> </td>
      <td> <%= link_to performance.concert.venue.vname, managelink_venue_path(performance.concert.venue) %> </td>
      <td><%= link_to "Show Concert", concert_path(performance.concert) %></td> 
      <td><%= link_to "Concert Manage Link", managelink_concert_path(performance.concert) %></td> 
    </tr>  
    <% end %>
  </table>
  <br>
</div>

<div class="afterinfosection" >
<%= link_to 'Add another song', new_song_path %> |
<%= link_to 'Edit Song', edit_song_path(@song) %> |
<%= link_to 'Song index', songs_path %> 
</div>
