<%= render 'shared', shared: @venue %>
<div class="infosection">
<h2>Concerts held here:</h2>
  <table>
  <tr>
    <th>Performers</th>
    <th>Date</th>
    <th colspan="2"></th>
  </tr>
  <% @venue.concerts.each do |concert| %>
    <tr>
      <td>
        <table>
          <% concert.performers.each do |perf| %>
          <tr>
          <td><%= link_to perf.pname, managelink_performer_path(perf) %> </td>
          </tr>
          <% end %>
        </table>
      </td>
      <td><%= concert.cdate %></td>
      <td><%= link_to "Show Concert", concert_path(concert) %></td>
      <td><%= link_to "Concert Manage link", managelink_concert_path(concert) %></td>
    </tr>  
  <% end %>
</table>
</div>

<div class="afterinfosection">
<%= link_to 'Add another venue', new_venue_path %> |
<%= link_to 'Edit venue', edit_venue_path(@venue) %> |
<%= link_to 'Venue index', venues_path %>
</div>
