<h1>Search for a venue: </h1>
<%= form_tag url_for(:controller => "venues", :action => "venuesearch"), :method => "get" do %>
 <table>
  <tr>
    <td><%= label_tag(:venue_s, "Venue:") %></td>
    <td><%= text_field_tag(:venue_s) %></td>
  </tr>

  <tr>
    <td><%= label_tag(:city_s, "City:") %></td>
    <td><%= text_field_tag(:city_s) %></td>
  </tr>

  <tr>
    <td><%= label_tag(:country_s, "Country:") %></td>
    <td><%= text_field_tag(:country_s) %></td>
 
  </tr>

  </table>
 
  <p>
  <%= submit_tag("Search") %>
  </p>

<% end %>
