<h1>Search for a concert: </h1>
<%= form_tag url_for(:controller => "concerts", :action => "concertsearch"), :method => "get" do %>
 <table>
  <tr>
    <td><%= label_tag(:artist_s, "Artist:") %></td>
    <td><%= text_field_tag(:artist_s) %></td>
  </tr>

  <tr>
  <td><%= label_tag(:venue_s, "Venue:") %></td>
  <td><%= text_field_tag(:venue_s) %></td>
  </tr>

  <tr>

  <td><%= label_tag(:a_date, "Date from:") %></td>
  <td><%= date_field_tag(:a_date) %></td>
  </tr>

  <tr>  
  <td><%= label_tag(:b_date, "Date to:") %></td>
  <td><%= date_field_tag(:b_date,) %></td>
  </tr>

  <tr>
  <td><%= label_tag(:city_s, "City:") %></td>
  <td><%= text_field_tag(:city_s) %></td>
  </tr>

  <tr>
  <td><%= label_tag(:country_s, "Country:") %></td>
  <td><%= text_field_tag(:country_s) %></td>
  </tr>

  </table>

 
  <p>
  <%= submit_tag("Search") %>
  </p>
<% end %>
