<h1>Edit concert</h1>
 
<%= form_for @concert do |f| %>
 
<%= render 'errors' %>
 
<%= render 'concertinfo', f: f %>

<h2>Setlist</h2>
  <% @concert.setlists.each do |setlist| %> 
     <%= f.fields_for :setlists, setlist do |ff| %>
     <%= ff.text_field :position %> 

      <%=setlist.song.title%>
<br>
     <% end %>
   <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Back', concerts_path %>
