<h1>Listing Concerts</h1>
<div class="indentation"><%= link_to 'New concert', new_concert_path %> </div><br>
<table>
  <tr>
    <th>Performers</th>
    <th>Date</th>
    <th>Venue</th>
    <th colspan="4"></th>
  </tr>
 
  <% @concerts.each do |concert| %>
    <tr>
      <td>
        <table>
          <% concert.performers.first(3).each do |p| %>
            <tr>  <td> <%= link_to p.pname, managelink_performer_path(p) %> </td> </tr> 
          <% end %>
          <% if concert.performers.count > 3 %>
            <tr>  <td> ... </td> </tr>  
          <% end %>
        </table> 
      </td>
      <td><%= concert.cdate %></td>      
      <td><%= link_to concert.venue.vname, managelink_venue_path(concert.venue) %></td>
      <td><%= link_to 'Show', concert_path(concert) %></td>
      <td><%= link_to 'Edit', edit_concert_path(concert) %></td>
      <td><%= link_to 'Manage link', managelink_concert_path(concert) %></td>
      <td><%= link_to 'Destroy', concert_path(concert),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>


