<h1>New concert</h1>
 
<%= render 'errors' %>

<%= form_for @concert do |f| %>
 
<%= render 'concertinfo', f: f %>



<h4>Venue for this concert: </h4>
<p><%= select_tag "venue_to_add", options_from_collection_for_select(Venue.all, "id" , "name") %>
<%= label_tag("venue_add", "Add this association") %><br></p>


  <p>    <%= f.submit %>  </p>
 
<% end %>
 
<%= link_to 'Back', concerts_path %>
