<h1>New concert</h1>


 
<%= form_for @concert do |f| %>

  <div class=afterinfosection ></div> 
  <div class=nextsection >
    <p> GUIDED DATA ENTRY </p>
    <h6> *After creating the concert you will be authomatically redirected to the page where you can manage the associations linked to the Concert</h6>
    <%#= link_to "Link performers and songs to the  concert",   managelink_concert_path(f) %>
  </div>

<div class=afternextsection ></div>  
  <%= render 'errors' %>
 
  <div class="infosection"> 
  
  <%= render 'concertinfo', f: f %>

  <!-- Force the admin to add at least one instance of each associated model  -->

  <h2>Venue for this concert: </h2>
    <p><%= select_tag "venue_to_add", options_from_collection_for_select(Venue.all, "id" , "vname") %><br>
    </p>


  <h2>Add the first performer: </h2>
    <p>
      <%= select_tag "artist_to_add", options_from_collection_for_select(Performer.all, "id" , "pname") %><br>
    </p>

  <h2>Add the first song: </h2>
    <%= f.fields_for :performances, create: @concert.performances.build do |ff| %>
      <p>
      <%= ff.select :song_id, Song.all.collect{ |p| [p.title, p.id] } %><br>
      </p>
   
    <% end %>

  <p>    <%= f.submit %>  </p>
 
  </div>



<% end %>
 

