<h1>New concert</h1>


<%= form_for @concert do |f| %>
 
  <%= render 'errors' %>

  <div class="infosection">   
  <%= render 'concertinfo', f: f %>

  <h2>Venue for this concert: </h2>
    <p><%= select_tag "venue_to_add", options_from_collection_for_select(Venue.all, "id" , "name") %>
      <%= label_tag("venue_add", "Add this association") %><br></p>


  <p>    <%= f.submit %>  </p>
 
  </div>
<% end %>
 

