<h1>Concert</h1>

<div class="infosection">
  <p>
    <h2>Date:</h2>
    <%= @concert.cdate %>
  </p>
</div>

<div class="infosection">
  <h2>Venue: </h2>
  <%= link_to @concert.venue.vname,  venue_path(@concert.venue) %> 
  <%= @concert.venue.address %> -
  <%= @concert.venue.city %>, 
  <%= @concert.venue.country %>
</div> 


<div class="infosection">
  <h2>Artists performing in this concert: </h2>
  <table>
    <tr>
      <th>Name</th>

    </tr>
    <% @concert.performers.each do |performer| %>
      <tr>
        <td><%= link_to performer.pname, performer_path(performer) %></td>
      </tr>  
    <% end %>
  </table>
</div>
 

<div class="infosection">
  <h2>Setlist</h2>
    <table>
    <tr>
      <th>Position</th>
      <th>Title</th>
      <th>Performers</th>
    </tr>
      <% @concert.performances.order("position").each do |performance| %>
      <tr>
        <td><%= performance.position %></td>
        <td><%= link_to performance.song.title, song_path(performance.song)  %></td>
        <td><table>
        <% performance.performers.each do |performer| %>
          <tr>        <td><%= link_to performer.pname, performer_path(performer) %></td></tr>
        <% end %>
        </table></td>

      </tr>  
      <% end %>
    </table>
</div>
<div class="afterinfosection">
</div>
