<h1> Performer </h1>
 
  <%= render 'errors'%>

  <div class="infosection" >
  <p>
    <strong>Name:</strong>
    <%= @performer.pname %>

  </p>
 
  <p>
    <strong>Bio:</strong>
    <%= @performer.bio %>

  </p>
  </div>

    <div class="infosection" > 
    <!--  Group of performers -->
    <% if @performer.type == "Group" %>
      <h2>Group of performers     </h2>

      <h3>Members of the group</h3>
      <table>
        <tr>
        <th>Name</th>
        <th>Joining date</th>
        <th>Leaving date</th>
        <th colspan="3"></th>
      </tr>
      <% @performer.bands.each do |band| %>
        <tr>
        <td><%= link_to band.individual.pname, performer_path(band.individual) %></td>
        <td><%= band.joining %></td>
        <td><%= band.leaving %></td>
        <td><%= link_to 'Edit', edit_performer_path(band.individual) %></td>
        <td><%= link_to 'Performer Manage link', managelink_performer_path(band.individual) %></td>
        <td><%= link_to 'Remove this member', group_band_path(@performer,band),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      </tr>  
      <% end %>

      </table>
      <h2> Add a member to the group:   </h2>

      <%= form_for([@performer, @performer.bands.build])  do |ff| %>
        <p>
          <%= ff.select :individual_id, Performer.where(:type => "Individual").collect{ |p| [p.pname, p.id] } %><br>
        </p>
        <p>
          <%= ff.label :joining, "Joining date:" %><br>
          <%= ff.date_field :joining %>
        </p>
        <p>
          <%= ff.label :leaving, "Leaving date:" %><br>
          <%= ff.date_field :leaving %>
        </p>

        <p>
        <%= ff.submit %>
        </p>
       <% end %>
      <h6>* A group must have at least one member.  </h6>
    
    <% else %>   
      <!--  Single performer -->
      <h2> Single performer</h2>
      <h3> Belongs to the following groups </h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Joining date</th>
          <th>Leaving date</th>
          <th colspan="2"></th
        </tr>


      <% @performer.bands.each do |band| %>
        <tr>
          <td><%= link_to band.group.pname, performer_path(band.group) %></td>
          <td><%= band.joining %></td>
          <td><%= band.leaving %></td>
          <td><%= link_to 'Edit', edit_performer_path(band.group) %></td>
          <td><%= link_to 'Performer Manage link', managelink_performer_path(band.group) %></td>
        </tr>  
      <% end %>

      </table>

    <% end %>
  </div>



<div class="infosection" >
<h2>Concerts held by this performer: </h2>
  <table>
  <tr>
    <th>Date</th>
    <th>Venue</th>
    <th colspan="1"></th
  </tr>
  <% @performer.concerts.each do |concert| %>
    <tr>
      <td><%= concert.cdate %></td>
      <td><%= link_to concert.venue.vname,managelink_venue_path(concert.venue) %></td>
      <td><%= link_to 'Concert Manage link', managelink_concert_path(concert) %></td>
    </tr>  
  <% end %>
</table>
</div>

<div class="afterinfosection" >
<%= link_to 'Edit', edit_performer_path(@performer) %> |
<%= link_to 'Add a new single performer', new_individual_path %> |<%= link_to 'Add a new group of performers', new_group_path %> 
</div>
