<h1> Performer </h1>
 
  <%= render 'errors'%>

  <div class="infosection" >
  <p>
    <strong>Name:</strong>
    <%= @performer.pname %>

  </p>
 
  <p>
    <strong>Bio:</strong>
    <%= @performer.bio %>

  </p>
  </div>

 
    <% if @performer.type == "Group" %>
    <div class="infosection" >
      <h2>Group of performers     </h2>

      <h3>Members of the group</h3>
      <table>
        <tr>
        <th>Name</th>
        <th>Joining date</th>
        <th>Leaving date</th>
      </tr>


      <% @performer.bands.each do |band| %>
        <tr>
        <td><%= link_to band.individual.pname, performer_path(band.individual) %></td>
        <td><%= band.joining %></td>
        <td><%= band.leaving %></td>
        

      </tr>  
      <% end %>

      </table>
 
    </div> 
    <% else %> 
    <div class="infosection" >  
      <h2> Single performer</h2>
      <h3> Belongs to the following groups </h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Joining date</th>
          <th>Leaving date</th>
          <th colspan="1"></th>
        </tr>


      <% @performer.bands.each do |band| %>
        <tr>
          <td><%= link_to band.group.pname, performer_path(band.group) %></td>
          <td><%= band.joining %></td>
          <td><%= band.leaving %></td>
        </tr>  
      <% end %>

      </table>
    </div>
    <% end %>


<div class="infosection" >
<h2>Concerts held by this performer: </h2>
  <table>
  <tr>
    <th>Date</th>
    <th>Venue</th>
    <th colspan="1"></th>
  </tr>
  <% @performer.concerts.each do |concert| %>
    <tr>
      <td><%= concert.cdate %></td>
      <td><%= link_to concert.venue.vname, venue_path(concert.venue) %></td>
      <td><%= link_to 'Show Concert', concert_path(concert) %></td>
    </tr>  
  <% end %>
</table>
</div>

<div class="afterinfosection" >

</div>
