<!DOCTYPE html>
<html>
  <head>
    <title>Relive your concert</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Relive your Concert</h1>
      </header>

      <nav>
        <ul>
          <li><%= link_to 'Home', welcome_index_path %></li>
          <li><%= link_to 'Concert', concertfilter_concerts_path %></li>
          <li><%= link_to 'Song', songfilter_songs_path %></li>
          <li><%= link_to 'Performers', performerfilter_performers_path %></li>
          <li>  <%= link_to 'Venue', venuefilter_venues_path %><br></li>

          <% if logged_in? %>          
            <li class="rightelem"><%= link_to 'Log out', logout_path, method: :delete %></li>
            <li class="rightelem"><%= link_to 'Profile', user_path(@current_user) %></li>
            <li class="lastchild"><%= link_to 'Admin area', admin_index_path  %></li>
          <% else %>  
            <li class="rightelem"><%= link_to 'Sign up', new_user_path %></li>
            <li class="lastchild"><%= link_to 'Log in', login_path %></li>
          <% end %>

        </ul>
      </nav>
       
      <div class="content">

        <% flash.each do |message_type, message| %>
        <div class="flash_error">
        <ul>
          <li><%= message %></li>
        </ul> </div>
        <% end %> 
 

        <div class="afterinfosection"></div>

        <%= yield %> 
 
      </div> 


    </div>
      <footer>Tesi  F. Magro</footer>
  </body>
</html>
